.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item{
    background-color: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background-color: var(--color-bg);
}

.portfolio__item-image{
    border-radius: .8rem;
    overflow: hidden;
}

.portfolio__item h3{
    margin: 1rem 0;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
}

.porfolio__desc{
    color: var(--color-light);
    margin-bottom: 1em;
    
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES) ===============*/

@media screen and (max-width: 1024px){
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}


/* =================== MEDIA QUERIES (SMALL DEVICES) ===============*/

@media screen and (max-width: 600px){
   .portfolio__container{
    grid-template-columns: 1fr;
    gap: 1rem;
   }
    h1{
        font-size: 2.3rem;
    }
    
    h2{
        font-size: 2.5rem;
    }
    
    h5{
        font-size: 1rem;
    }
    
}